<template>
	<div>
		<h1>Car id </h1>
		<button class="btn btn-info  mr-2">Back</button>
	</div>
</template>

<script>
export default {
	data(){
		return {
				//id: this.$router.currentRoute.params['id']
				//id: this.$route.params['id'] //this.$route.params === this.$router.currentRoute.params
		}
}
}
</script>
