<template>
    <div id="home-pages">
        <h1>Home</h1>
        <div class="tabs"
            text-color="black"
            active-text-color='#a01c4d'>
            <el-tabs
                    text-color="black"
                active-text-color='#a01c4d' 
                v-model="activeName" 
            >
                <el-tab-pane label="Popular" name="popular"><Popular /></el-tab-pane>
                <el-tab-pane label="Genre" name="genre">Genre</el-tab-pane>
                <el-tab-pane label="Duration" name="duration">duration</el-tab-pane>
                <el-tab-pane label="Authors" name="authors">authors</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>

import Popular from './Popular.vue'
export default {
    data(){
        return{
            activeName: 'popular'
        }
    },
    components: {
        Popular
    }
}
</script>

<style lang="sass">
h1
  margin: 50px 0 10px 
</style>