<template>
  <div id="head-bar">
    <el-menu
        class="el-menu-demo"
        mode="horizontal"
        text-color="black"
        active-text-color='#a01c4d'
        :router="true"
        :default-active="activeIndex"
      >
        <el-menu-item>
          <img src="">
        </el-menu-item>
        <el-menu-item>
          <el-input
            placeholder="Track, album, f'ladfihgiofd"
            prefix-icon="el-icon-search"
            v-model="search"
          ></el-input>
        </el-menu-item>
        <el-menu-item
          v-for = "page in pages"
          :key="page.title"
          :index="page.index"
          :route="page.to"
        >
          {{page.title}}
        </el-menu-item>
        <el-menu-item>
          <img class="avatar" src="../assets/logo.png">
        </el-menu-item>
    </el-menu>
  </div>
</template>


<script>
export default {
  name: 'head-bar',
  data(){
    return{
      activeIndex: '1',
      search: '',
      pages: [
        {
          to: '/',
          title: 'Home',
          index: '1'
        },
        {
          to: '/genre',
          title: 'Genre',
          index: '2'
        },
        {
          to: '/my-music',
          title: 'My music',
          index: '3'
        }
      ]
    }
  }  
}
</script>

<style lang="sass">
$primary-color: #a01c4d

#head-bar
  display: flex
  flex-direction: row
  font-size: 18px
  
  .el-menu-demo
    display: flex
    width: 100%
    justify-content: space-around

    .el-menu-item 
      height: 65px

      .avatar
        height: 50px
        width: 50px
        color: $primary-color
        border-radius: 50%

</style>