<template>
    <div id="popular-playlist">
        <h3>Popular playlist</h3>
        <div id="popular">
            <div class="playlist"></div>
            <div class="playlist"></div>
            <div class="playlist"></div>
            <div class="playlist"></div>
            <div class="playlist"></div>
            <div class="playlist"></div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="sass">
$primary-color: #a01c4d

#popular
  display: flex
  flex-direction: row
  width: 70%
  flex-wrap: wrap

  .playlist
    width: 150px
    margin: 20px 20px 0 0
    height: 150px
    background-color: $primary-color
</style>
