<template>
  <div id="test">
    <el-row :gutter="20" class="layout">
      <el-col :span="20" :offset="2">
        <head-bar />
        <router-view></router-view>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Header from './components/Nav.vue'

export default {
  name: 'app',
  components: {
    'head-bar': Header
  }
}
</script>

<style lang="sass">
.layout
  max-width: 100vw
</style>
